In [28]:
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB as NB
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix

In [20]:
df_train = pd.read_csv('SalaryData_Train.csv')
df_train.head()

   age          workclass   education  educationno  ... capitalloss hoursperweek          native  Salary
0   39          State-gov   Bachelors           13  ...           0           40   United-States   <=50K
1   50   Self-emp-not-inc   Bachelors           13  ...           0           13   United-States   <=50K
2   38            Private     HS-grad            9  ...           0           40   United-States   <=50K
3   53            Private        11th            7  ...           0           40   United-States   <=50K
4   28            Private   Bachelors           13  ...           0           40            Cuba   <=50K

[5 rows x 14 columns]

In [33]:
df_test = pd.read_csv('SalaryData_Test.csv')
df_test.head()

   age   workclass      education  educationno  ... capitalloss hoursperweek          native  Salary
0   25     Private           11th            7  ...           0           40   United-States   <=50K
1   38     Private        HS-grad            9  ...           0           50   United-States   <=50K
2   28   Local-gov     Assoc-acdm           12  ...           0           40   United-States    >50K
3   44     Private   Some-college           10  ...           0           40   United-States    >50K
4   34     Private           10th            6  ...           0           30   United-States   <=50K

[5 rows x 14 columns]

In [2]:
df_train.shape

(30161, 14)

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [5]:
df_train.describe()

                age   educationno   capitalgain   capitalloss  hoursperweek
count  30161.000000  30161.000000  30161.000000  30161.000000  30161.000000
mean      38.438115     10.121316   1092.044064     88.302311     40.931269
std       13.134830      2.550037   7406.466611    404.121321     11.980182
min       17.000000      1.000000      0.000000      0.000000      1.000000
25%       28.000000      9.000000      0.000000      0.000000     40.000000
50%       37.000000     10.000000      0.000000      0.000000     40.000000
75%       47.000000     13.000000      0.000000      0.000000     45.000000
max       90.000000     16.000000  99999.000000   4356.000000     99.000000

In [7]:
df_train.columns

Index(['age', 'workclass', 'education', 'educationno', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'capitalgain',
       'capitalloss', 'hoursperweek', 'native', 'Salary'],
      dtype='object')

In [21]:
obj_col = ['workclass', 'education', 'maritalstatus',
       'occupation', 'relationship', 'race', 'sex', 'native']

In [34]:
lab_enco = LabelEncoder()
for i in obj_col:
    df_train[i] = lab_enco.fit_transform(df_train[i])
    df_test[i] = lab_enco.fit_transform(df_test[i])

In [35]:
df_test.head()

   age  workclass  education  educationno  maritalstatus  ...  capitalgain  capitalloss  hoursperweek  native  Salary
0   25          2          1            7              4  ...            0            0            40      37   <=50K
1   38          2         11            9              2  ...            0            0            50      37   <=50K
2   28          1          7           12              2  ...            0            0            40      37    >50K
3   44          2         15           10              2  ...         7688            0            40      37    >50K
4   34          2          0            6              4  ...            0            0            30      37   <=50K

[5 rows x 14 columns]

In [23]:
df_train.head()

   age  workclass  education  educationno  maritalstatus  ...  capitalgain  capitalloss  hoursperweek  native  Salary
0   39          5          9           13              4  ...         2174            0            40      37   <=50K
1   50          4          9           13              2  ...            0            0            13      37   <=50K
2   38          2         11            9              0  ...            0            0            40      37   <=50K
3   53          2          1            7              2  ...            0            0            40      37   <=50K
4   28          2          9           13              2  ...            0            0            40       4   <=50K

[5 rows x 14 columns]

In [24]:
df_train.describe()

                age    workclass    education   educationno  ...   capitalgain   capitalloss  hoursperweek        native
count  30161.000000  30161.00000  30161.00000  30161.000000  ...  30161.000000  30161.000000  30161.000000  30161.000000
mean      38.438115      2.19933     10.33361     10.121316  ...   1092.044064     88.302311     40.931269     35.413481
std       13.134830      0.95394      3.81226      2.550037  ...   7406.466611    404.121321     11.980182      5.956430
min       17.000000      0.00000      0.00000      1.000000  ...      0.000000      0.000000      1.000000      0.000000
25%       28.000000      2.00000      9.00000      9.000000  ...      0.000000      0.000000     40.000000     37.000000
50%       37.000000      2.00000     11.00000     10.000000  ...      0.000000      0.000000     40.000000     37.000000
75%       47.000000      2.00000     12.00000     13.000000  ...      0.000000      0.000000     45.000000     37.000000
max       90.000000      6.00000     15.00000     16.000000  ...  99999.000000   4356.000000     99.000000     39.000000

[8 rows x 13 columns]

In [36]:
x_train=df_train.iloc[:,:-1]
y_train=df_train.iloc[:,-1]
x_train.shape,y_train.shape

((30161, 13), (30161,))

In [37]:
x_test=df_test.iloc[:,:-1]
y_test=df_test.iloc[:,-1]
x_test.shape,y_test.shape

((15060, 13), (15060,))

# fitting mulitnominal NB

In [44]:
mb = MB()
mb.fit(x_train,y_train)

MultinomialNB()

In [45]:
train_pred_salary = mb.predict(x_train)
train_pred_salary

array([' >50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype='<U6')

In [46]:
accuracy_score(train_pred_salary,y_train)

0.7729186698053778

In [47]:
confusion_matrix(train_pred_salary,y_train)

array([[21717,  5913],
       [  936,  1595]], dtype=int64)

In [48]:
mb.fit(x_test,y_test)
test_pred_salary = mb.predict(x_test)
test_pred_salary

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype='<U6')

In [49]:
accuracy_score(test_pred_salary,y_test)

0.7749667994687915

In [50]:
confusion_matrix(test_pred_salary,y_test)

array([[10891,  2920],
       [  469,   780]], dtype=int64)

# fitting Gaussian NB

In [51]:
gnb = NB()
gnb.fit(x_train,y_train)
train_pred = gnb.predict(x_train)
train_pred

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' >50K'],
      dtype='<U6')

In [52]:
accuracy_score(train_pred,y_train)

0.7953317197705646

In [53]:
confusion_matrix(train_pred,y_train)

array([[21505,  5025],
       [ 1148,  2483]], dtype=int64)

In [54]:
gnb.fit(x_test,y_test)
test_pred = gnb.predict(x_test)
test_pred

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype='<U6')

In [55]:
accuracy_score(test_pred,y_test)

0.7942231075697211

In [56]:
confusion_matrix(test_pred,y_test)

array([[10777,  2516],
       [  583,  1184]], dtype=int64)

In [ ]:
# as expected, Gaussian NB yielded greater accuracy as for numerical data Gaussian NB gives better result